* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1a1a1e;
  height: 100vh;
}

.box {
  background-color: #262629;
  border-radius: 0.8rem;
  width: 90%;
  max-width: 25rem;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  color: #88888a;
  padding: 0.8rem;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}

hr {
  border: none;
  border-top: 1px solid #3b3b3e;
}

.currs-inputs {
  padding: 1rem;
  position: relative;
}

input {
  background-color: #1e1e21;
  color: #fff;
  padding: 0.7rem;
  border: 1px solid #3b3b3e;
  border-radius: 0.8rem;
  width: 100%;
}

input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.curr {
  position: relative;
}

.curr:last-child {
  margin-top: 2rem;
}

.curr-type {
  position: absolute;
  z-index: 1;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 13px;
  background-color: #0f0f10;
  border: 1px solid #3b3b3e;
  border-radius: 0.4rem;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  transition: 0.2s;
}

.curr-type:hover {
  background-color: #262629;
}

.curr-type:focus {
  outline: none;
}

.switch {
  position: absolute;
  background-color: #1e1e21;
  z-index: 2;
  padding: 0.4rem;
  border: 1px solid #3b3b3e;
  border-radius: 50%;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.2s;
}

.switch img {
  max-width: 1rem;
}

.switch:hover {
  background-color: #3b3b3e;
}

@media (max-width: 400px) {
  .curr-type {
    font-size: 11px;
    padding: 0.2rem 0.5rem;
  }

  .title {
    font-size: 0.7rem;
  }
}